STORAGE/
LOGS/
BACKUP_ADMIN/
*.pdf
*.jpg
*.png
*.csv
__pycache__/
*.log
*.sqlite
.env
# Python
__pycache__/
*.pyc
*.pyo

# Sistema Windows
Thumbs.db

# IDE
.vscode/

# Executáveis
*.exe
*.dll

# Backup
*.bak
*~